
#mw5 .head .search-text {
    border-color:#95a5a6;
}

#mw5 .head .search-button {
    background-color:#95a5a6;
    color:#fff;
}

#mw5 nav {
    border-bottom:3px solid #6f7879;
}

#mw5 .navbar {
    background-color:#95a5a6;
}

#mw5 .navbar a:hover,
#mw5 .navbar a:link,
#mw5 .navbar a:active,
#mw5 .navbar a:visited {
    color:#fff;
}

#mw5 .navbar li.select {
    background-color:#848e8f;
}

#mw5 .navbar li.underline {
    border-color:#6f7879;
}


