
#mw_basic .mw_basic_list_name { overflow:visible; }
#mw_basic .mw_basic_list_name .sv_wrap .sv { white-space:normal; position:absolute;}
#mw_basic .mw_basic_list_name .sv_member, .sv_guest {
    display:block;
    width:90px;
    font-size:12px;
    line-height:15px;
    color:#3d5b7a;
    color:#000;
    text-align:left;
    overflow:hidden;
}
