
#mw5 .head .search-text {
    border-color:#d35400;
}

#mw5 .head .search-button {
    background-color:#d35400;
    color:#fff;
}

#mw5 nav {
    border-bottom:3px solid #b3510f;
}

#mw5 .navbar {
    background-color:#d35400;
}

#mw5 .navbar a:hover,
#mw5 .navbar a:link,
#mw5 .navbar a:active,
#mw5 .navbar a:visited {
    color:#fff;
}

#mw5 .navbar li.select {
    background-color:#ec711f;
}

#mw5 .navbar li.underline {
    border-color:#b3510f;
}


