html {
    -webkit-tap-highlight-color: rgba(0, 0, 0, .3);
}
body {
    background-color:#4686C6;
    /*padding-top:50px;*/
}
a:hover, a:link, a:active, a:visited {
    color:#2F3743;
    text-decoration:none;
}
#mw_mobile_head {
    border-bottom:2px solid #ddd;
    padding:10px 0 10px 10px;
    color:#fff;
    background-color:#4686C6;
}
#mw_mobile_head a {
    font-size:15px;
    color:#fff;
    font-weight:bold;
}
#mw_mobile {
    padding:5px;
    background-color: #f3f3f3;
    background-color:#fff;
    margin-top:50px;
}
#mw_mobile .comment {
    font-size:11px;
    color:#FF6600;
    font-family:dotum;
}
#mw_mobile_tail {
    border-top:2px solid #ddd;
    padding:10px 0 0 10px;
    margin:0;
    color:#fff;
    text-align:center;
    height:70px;
    clear:both;
    background-color:#4686C6;
    /*background-color:#2fa4e7;*/
}
#mw_mobile_tail a {
    font-size:12px;
    color:#fff;
    font-weight:bold;
}

.mw_title {
    text-align:center;
    margin:13px 0;
    padding:0;
    color:#fff;
    font-size:17px;
}

.mw_title a:hover,
.mw_title a:link,
.mw_title a:visited,
.mw_title a:active
{
    color:#fff;
    font-weight:bold;
}

.mw_index_search {
}

.mw_index_search .search_box {
    border:1px solid #ccc;
    border:0;
    background-color:#fff;
    height:40px;
    margin:0 15px 10px 15px;
    text-align:center;
    overflow:hidden;
}

.mw_index_search .search_box input {
    width:99%;
    line-height:25px;
    background-color:transparent;
    border:0;
    outline:none;
    font-weight:bold;
    font-size:15px;
    margin:7px 0 0 10px;
    padding:0;
}

/*
.mw_index_search .search_icon {
    position:absolute;
    right:0;
    margin:9px 20px 0 0;
    font-size:20px;
    color:#999;
}
*/

.mw_index_search .search_icon {
    margin:0px 10px 0 0;
    border:0;
    background-color:#85b4ee;
    background-color:transparent;
    position:absolute;
    right:0;
    cursor:pointer;
    width:40px;
    height:40px;
    border:0px solid #000;
    text-align:center;
}

.mw_index_search .search_icon button {
    color:#fff;
    font-size:20px;
    text-align:center;
    background-color:transparent;
    margin:0;
    padding:0;
    border:0;
    cursor:pointer;
    color:#999;
    line-height:40px;
}


.mw_home {
    position:absolute;
    right:0;
    margin:13px 15px 0 0;
    font-size:25px;
    color:#fff;
}


.mw_total_alarm {
    position:absolute;
    background-color:#000;
    background-color:#2368a3;
    background-color:red;
    color:#fff;
    padding:2px 7px 2px 7px;
    border-radius:10px;
    margin:-15px 0 0 20px;
    font:bold 12px 'dotum';
    opacity:0.8;
}

.sv_wrap {
    display:inline-block;
    position:relative;
    font-weight:normal;
    text-align:left;
}

.sv_wrap .sv {
    z-index:1000;
    display:none;
    margin:5px 0 0;
    border:1px solid #283646;
}

.sv_wrap .sv a {
    display:inline-block;
    margin:0;
    padding:3px;
    width:94px;
    border-bottom:1px solid #283646;
    background:#111;
    color:#fff !important;
}

.sv_wrap a:focus,
.sv_wrap a:hover,
.sv_wrap a:active {
    text-decoration:none
}

.sv_on {
    display:block !important;
    position:absolute;
    top:10px;
    left:20px;
    width:auto;
    height:auto;
    font-size:12px;
}

.sv_nojs .sv {
    display:block;
}

#mw_side_button {
    position:fixed;
    top:400px;
    left:10px;
    cursor:pointer;
    z-index:9998;
    background-color:#000;
    background-color:#428bca;
    font-weight:normal;
    font-size:25px;
    color:#fff;
    border-radius:30px;
    padding:5px 10px 5px 10px;
    -webkit-transform: translate3d(0,0,0);
    box-shadow:0px 0px 3px #999;
    border:3px solid #fff;
}

#mw_side_button .total_alarm {
    position:absolute;
    background-color:#000;
    background-color:#2368a3;
    background-color:red;
    color:#fff;
    padding:2px 7px 2px 7px;
    border-radius:10px;
    margin:-45px 0 0 20px;
    font:bold 12px 'dotum';
    opacity:0.8;
}

.mw_side_profile {
    background-color:#428bca;
    font:bold 15px 'gulim';
    color:#fff;
    height:55px;
}
.mw_side_profile a {
    font:bold 15px 'gulim';
    color:#fff;
}

.mw_side_profile #mw_side_image { 
    background-color:#fff;
    width:45px;
    height:45px;
    border:2px solid #fff;
    margin:5px 7px 0 5px;
    float:left;
}

.mw_side_profile .mw_side_name {
    float:left;
    margin:17px 0 0 10px;
}

.mw_side_profile #mw_side_alarm {
    float:right;
    cursor:pointer;
    font:normal 20px 'dotum';
    margin:15px 10px 9px 0;
    padding:0 10px 0px 0;
    border-right:1px solid #2d7abd;
}

.mw_side_profile #mw_side_alarm .new {
    position:absolute;
    background-color:#000;
    background-color:#2368a3;
    color:#fff;
    padding:2px 7px 2px 7px;
    border-radius:10px;
    margin:-30px 0 0 7px;
    font:bold 10px 'dotum';
    opacity:0.8;
}

.mw_side_profile #mw_side_close {
    float:right;
    cursor:pointer;
    font:normal 20px 'dotum';
    margin:15px 10px 0 0;
}

#mw_side .mw_side_func {
    height:71px;
    border-bottom:1px solid #ddd;
}

#mw_side .mw_side_func .item {
    border-right:1px solid #ddd;
    width:70px;
    height:70px;
    float:left;
    text-align:center;
    cursor:pointer;
    background-color:#efefef;
}

#mw_side .mw_side_func .item div {
    padding-top:13px;
}

#mw_side .mw_side_cash {
    font:normal 12px 'dotum';
    height:40px;
    padding:5px 10px 0px 10px;
    background-color:#dfdfdf;
    border-bottom:1px solid #ddd;
}

#mw_side .mw_side_cash .cash_name {
    float:left;
    line-height:30px;
}

#mw_side .mw_side_cash .my_cash {
    float:right;
    line-height:30px;
}

#mw_side .mw_side_cash .my_cash .nu {
    color:#ff6600;
}

#mw_side .comment {
    float:right;
    margin:3px 7px 0 0;
    padding:0;
    background-color:#dfdfdf;
    color:#ff6600;
    width:25px;
    height:25px;
    text-align:center;
    font-weight:bold;
    font-size:11px;
    line-height:25px;
    border:1px solid #ccc;
    border-radius:15px;

}
#mw_side .comment2 {
    float:right;
    margin:3px 7px 0 0;
    padding:0;
    background-color:translate;
    color:#ff6600;
    width:25px;
    height:25px;
    text-align:center;
    font-weight:bold;
    font-size:11px;
    line-height:25px;
    border:1px solid #ddd;
    border-radius:15px;
}

#mw_side .mw_side_att {
    font:normal 12px 'dotum';
    height:40px;
    padding:5px 10px 0px 10px;
    background-color:#efefef;
    border-bottom:1px solid #ddd;
    line-height:30px;
}

#mw_side .mw_side_foot {
    margin-top:20px;
    text-align:center;
}

#mw_side .mw_side_foot a {
    font:normal 11px 'dotum';
    color:#777;
}

#mw_side .mw_side_menu div {
}

#mw_side .mw_side_menu .group div {
    line-height:30px;
    padding:5px 0 5px 7px;
    background-color:#eee;
    border-bottom:1px solid #ddd;
    cursor:pointer;
    background-color:#fff;
}

#mw_side .mw_side_menu .board {
    display:none;
    background-color:#efefef;
    background-color:#dfdfdf;
    font-size:12px;
}

#mw_side .mw_side_menu .board div {
    padding:5px 0 5px 12px;
    line-height:30px;
    border-bottom:1px solid #ccc;
}

#mw_side .mw_side_func i {
    font-size:20px;
}

#mw_side .mw_side_func .new {
    position:absolute;
    background-color:#000;
    background-color:#428bca;
    color:#fff;
    padding:2px 7px 2px 7px;
    border-radius:10px;
    margin:-25px 0 0 -10px;
    font:bold 10px 'dotum';
    opacity:0.8;
}

